*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

}

body{
  background-color: #0CAFFF;
  /* background-image: linear-gradient(to right, #0CAFFF, cornflowerblue, #0CAFFF); */
}

h2 {
  text-decoration: underline;
}

.main{
  margin: 5% 10% 5% 10%;
  /* border: 1px #f4a460 dotted; */
  font-size: 2em;
  color: #f4a460;
}

.donationInfo{
  color: #c0362c ;
  border: 1px #c0362c dotted;
  padding: 1vh 0vh 1vh 0vh;
}

.red {
  color: red;
}